/* .active {
    color: "red" !important;
    background-color: "white" !important;
    font-size: 30px;
  } */
.orderButton {
  display: flex !important;
}

@media (width < 450px) {
  .orderButton {
    display: none !important;
  }
}
